body {
    background-image:url(https://1.bp.blogspot.com/-RazCFjJhI08/TtxmMOFGvCI/AAAAAAAAAp0/BHcZRB42iVg/w1200-h630-p-k-no-nu/tool-background-4-728081.gif);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
    color: white;
}
